
services:
  db:
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - 5432:5432
    networks:
      - bridge_network  
    build: ./database/
    restart: always
    volumes:
      - cardboard_postgres_data:/var/lib/postgresql/data/

  web:
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000
    # Открываем порт 8000 наружу
    expose:
      - 8000
    env_file:
      - ./.env
    volumes:
      - static_volume:/home/app/web/static
      - media_volume:/home/app/web/media
    networks:
      - bridge_network
    depends_on:
          - db
    restart: always

  nginx:
    build: ./nginx
    ports:
      - 80:80
    volumes:
      - static_volume:/home/app/web/static
      - media_volume:/home/app/web/media
    networks:
      - bridge_network
    depends_on:
      - web
    restart: always
    expose:
      - "80"

  # Пример веб-приложения
  test_web_app:
    image: nginx:alpine
    volumes:
      - ./html:/usr/share/nginx/html
    expose:
      - "80"

  cloudpub:
    image: cloudpub/cloudpub:latest
    restart: always
    environment:
      - TOKEN=${CLOUDPUB_TOKEN}
      - HTTP=nginx:80, test_web_app:80
    command: run
    depends_on:
      - nginx
    volumes:
      - cloudpub-config:/home/cloudpub
    networks:
      - bridge_network


networks:
  bridge_network:
    driver: bridge

volumes:
    static_volume: {}
    media_volume: {}
    cardboard_postgres_data: {}
    cloudpub-config: {}
