{% extends 'base.html' %}

{% block content %}
<ul class="list-articles">

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <p><button type="submit">Обновить</button></p>
    </form>

<div class="tabs">
 {% for client_name in reports.keys %}
    <input type="radio" name="inset" value="" id="tab_{{forloop.counter}}" checked>
    <label for="tab_{{forloop.counter}}">{{forloop.counter}} - {{client_name}}</label>
 {% endfor %}

    {% for client_name, counter_values in reports.items %}
    <div id="txt_{{forloop.counter}}">

    <table width="100%" border="1">
        <tr>
            <th>  </th>
            {% for _ in counter_values.0 %}
                <th> {{forloop.counter}} </th>
            {% endfor %}
        </tr>

        {% for hour_values in counter_values %}
            <tr>
                <th> {{forloop.counter|add:"-1"}}:00 - {{forloop.counter}}:00 </th>
                {% for day_values in hour_values %}
                    <td> {{day_values}} </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    </div>
    {% endfor %}

</div>

</ul>

{% endblock %}
